table > tbody > tr > td {
    vertical-align: middle;
    /*text-align: center;*/
     color: #000000;
     font-weight: bold;
}


thead > tr > th {
    vertical-align: middle;
    /*text-align: center;*/
    color: #00a3e0;
    /*font-size: 17px;*/
    border-bottom: 2px solid #e7e7e9;
    background-color: #F2F3F5;
}

thead > tr > th .inner-th{
    background-color: #e7e7e9;
    color: #000000;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 55px;
    display: inline-block;
    width: auto;
}

.table > tbody > tr > td {
    border-bottom: 1px solid #00a3e0;;
}

tbody tr td:nth-child(3) div,  tbody tr td:nth-child(4) div, tbody tr td:nth-child(5) div, tbody tr td:nth-child(2) div {
    background-color: #e7e7e9;
    color: #000000;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 55px;
    display: inline-block;
    width: auto;
}

tbody tr td:nth-child(6) div {
    background-color: #e7e7e9;
    color: #000000;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 55px;
    display: inline-block;
    width: auto;

}


/************ utility *********************/

.cursor-pointer {
    cursor: pointer;
}


.border-b {
    border-bottom: 1px solid  #00a3e0
}
.seperator-mn-t25 {
    margin-top: 25px;
}

.margin-t-20 {
    margin-top: 20px;
}

.color-white {
    color: white;
}
.color-E5BC80 {
    color: #E5BC80;
}

.color-b33226{
    color:#00a3e0;
}

.color-000000 {
    color: #000000
}


/*********** dropbox style *****************/

.dropdown-label {
    font-size: 18px;
    color: #00a3e0;
}

.dropdown-custom .caret {
   
    border-top: 10px dashed;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-top: 5px;
}

.dropdown-custom button{
    background-color: #00a3e0;
    color: #fff;
    border: 1px solid #fcf8fe;
    border-radius: 0px;
    width: 100%;
    font-size: 18px;
    text-align: left;
}

.open > .dropdown-toggle.btn-default:focus{
    background-color: #00a3e0;
    color: #fff;
    border: 1px solid #fcf8fe;
} 

.dropdown-custom ul {
    width:100%;
    border-radius: 0px; 
}
.dropdown-custom > ul > li a {
    color: #00a3e0;
    font-size: 18px;
}
.dropdown-custom ul > li a:hover {
     background-color: #00a3e0;
     color: #fff;
     cursor: pointer;
}

.selected-year {
      background-color: #00a3e0;
}
.selected-year a {
    color: #fff !important;
}
