@media print {
	
	.table > tbody > tr > td {
		border-bottom: 1px solid  #a3a3a3;
		padding: 7px;
	}
	
	tbody tr td:nth-child(1) div {
		font-weight: bold;
	}
	thead > tr > th {
		vertical-align: middle;   
		border-bottom: 2px solid  #a3a3a3;
	}
	
}