<div class="container margin-t-30 margin-b-30">
  <h3>ICT Regulatory Tracker</h3>

  <div class="row">
    <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12" style="text-align: justify;">
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <h4><strong>What is the Tracker?</strong></h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <p>
      The ICT Regulatory Tracker is an evidence-based tool to help decision-makers and regulators make sense of the rapid evolution
      of ICT regulation. The Tracker enables various analytical features to pinpoint the changes taking place in the CT regulatory
      environment. Using both quantitative and qualitative data, the Tracker makes possible benchmarking and the identification
      of trends in ICT legal and regulatory frameworks. It likewise helps identify the gaps in existing regulatory frameworks,
      making the case for further regulatory reform towards achieving a vibrant and inclusive ICT sector.
    </p>
  </div>
</div>
<!---->
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <h4><strong>Scope</strong> </h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <p>
      The ICT Regulatory Tracker is composed of a total of 50 indicators (11 composite, see full list below) grouped into four
      clusters:
    </p>
    <ol>
      <li>the regulatory authority (focusing on the functioning of the separate regulator), </li>
      <li>regulatory mandates (who regulates what), </li>
      <li>the regulatory regime (what regulation exists in major areas) and </li>
      <li>the competition framework in the ICT sector (level of competition in the main market segments). </li>
    </ol>
    <p>The Tracker covers between 186 and 189 ITU Member States over the period 2007 – 2015. </p>
  </div>
</div>
<!---->
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <h4><strong>Data mechanics: coding & scores</strong> </h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <p>
      After coding the originally qualitative information, all indicators are given a score between 0 and 2. The benchmark for
      the scoring is what is considered the best possible scenario based on the internationally recognized regulatory best
      practices that were adopted by the global community of regulators at the annual
      <a href="http://www.itu.int/bestpractices" target="_blank">ITU Global Symposiums for
            Regulators.</a>
    </p>
  </div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
  <div class="row" style=" padding-top: 15px;">
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  
  <div class="thumbnail">
    <a href="https://www.itu.int/pub/D-PREF-BB.REG_OUT01-2017" target="_blank">
      <img class="img img-responsive" src="./assets/images/ict-cover.jpg" />
    </a>
  </div>
  <div class="caption text-center">
    <p><strong><a href="https://www.itu.int/pub/D-PREF-BB.REG_OUT01-2017" target="_blank">New ITU report: check out now!</a></strong></p>
  </div>

</div>
</div>

<div class="row" style=" padding-top: 15px;">
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <a href="http://newslog.itu.int/" target="_blank">
    <img src="./assets/images/itu-newlog.png" class="img img-responsive">
  </a>
</div>
</div>

</div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <!---->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h4><em><strong>ICT Regulatory Tracker structure, 2007-2015</strong></em> </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <caption align="bottom"><em>Source: ITU</em></caption>
            <thead>
              <tr>
                <th><em>Cluster</em></th>
                <th><em>Name</em></th>
                <th><em>Number of indicators</em></th>
                <th><em>Max score</em></th>
                <th><em>Countries ranked if min indicators</em></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>1</strong></td>
                <td><strong>Regulatory authority</strong></td>
                <td>10</td>
                <td>20</td>
                <td>3</td>
              </tr>
              <tr>
                <td><strong>2</strong></td>
                <td><strong>Regulatory mandates</strong></td>
                <td>11</td>
                <td>22</td>
                <td>3</td>
              </tr>
              <tr>
                <td><strong>3</strong></td>
                <td><strong>Regulatory regime</strong></td>
                <td>15</td>
                <td>30</td>
                <td>4</td>
              </tr>
              <tr>
                <td><strong>4</strong></td>
                <td><strong>Competition framework</strong></td>
                <td>14</td>
                <td>28</td>
                <td>4</td>
              </tr>
              <tr>
                <td><strong></strong></td>
                <td><strong>ICT Regulatory Tracker</strong></td>
                <td><strong>50</strong></td>
                <td><strong>100</strong></td>
                <td><strong>14</strong></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!---->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h4><strong>Indicators</strong></h4>
        <p>The full set of indicators is showed in the table below. </p>
        <h4 class="bg-b33226 color-white padding-10"><strong>ICT REGULATORY TRACKER</strong> </h4>
        <div class="row bt-F2F2F2 margin-l-0 margin-r-0 ">
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <strong>Cluster 1:<br>Regulatory Authority</strong>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <ul class="list-unstyled">
              <li>1. Separate telecom/ICT regulator </li>
              <li>2. Autonomy in decision-making </li>
              <li>3. Accountability </li>
              <li>4. Percentage of diversified funding </li>
              <li>5. Public consultations mandatory before decisions </li>
              <li>6. Enforcement power </li>
              <li>7. Sanctions or penalties imposed by regulator </li>
              <li>8. Dispute resolution mechanism </li>
              <li>9. Appeals to decisions </li>
              <li>10. Existence of Competition authority </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <strong>Cluster 2:<br>Regulatory Mandate</strong>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <ul class="list-unstyled">
              <li>Who is in charge of regulating the following? </li>
              <li>11. Quality of Service obligations measures and service quality monitoring </li>
              <li>12. Licensing </li>
              <li>13. Interconnection rates and price regulation </li>
              <li>14. Radio frequency allocation and assignment </li>
              <li>15. Spectrum monitoring and enforcement </li>
              <li>16. Universal service/access </li>
              <li>17. Broadcasting (radio and TV transmission) </li>
              <li>18. Broadcasting content </li>
              <li>19. Internet content </li>
              <li>20. IT </li>
              <li>21. Consumer issues </li>

            </ul>
          </div>
        </div>

        <div class="row bt-F2F2F2 margin-l-0 margin-r-0">
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <strong>Cluster 3:<br>Regulatory Regime</strong>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <ul class="list-unstyled">
              <li>22. Types of licenses </li>
              <li>23. License exempt </li>
              <li>24. Operators required to publish Reference Interconnection Offer </li>
              <li>25. Interconnection prices made public </li>
              <li>26. Quality of Service monitoring required </li>
              <li>27. Infrastructure sharing for mobile operators permitted </li>
              <li>28. Infrastructure sharing mandated </li>
              <li>29. Co-location/site sharing mandated </li>
              <li>30. Unbundled access to the local loop required </li>
              <li>31. Secondary spectrum trading allowed </li>
              <li>32. Band migration allowed </li>
              <li>33. Number portability required from fixed-line operators </li>
              <li>34. Number portability required from mobile operators </li>
              <li>35. Individual users allowed to use VoIP </li>
              <li>36. National plan that involves broadband </li>

            </ul>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <strong>Cluster 4:<br>Competition Framework</strong>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <ul class="list-unstyled">
              <li>Competition exists in the following market segments: </li>
              <li>37. Local and long distance (domestic and international) fixed line services </li>
              <li>38. IMT (3G, 4G, etc.) services </li>
              <li>39. Cable modem, DSL, fixed wireless broadband </li>
              <li>40. Leased lines </li>
              <li>41. International Gateways </li>
              <li>42. Status of the main fixed line operator (public, partially or fully private) </li>
              <li>43. Legal concept of dominance or SMP </li>
              <li>44. Criteria used in determining dominance or SMP </li>
              <li>&nbsp;</li>
              <li>Foreign participation/ownership in: </li>
              <li>45. Facilities-based operators </li>
              <li>46. Spectrum-based operators </li>
              <li>47. Local service operators/long-distance service operators </li>
              <li>48. International service operators </li>
              <li>49. Internet Service Providers (ISPs) </li>
              <li>50. Value-added service providers </li>
              <li> </li>

            </ul>
          </div>
        </div>
        <small><em>Source: ITU.</em></small>
      </div>
    </div>

    <!---->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h4><strong>Source of data</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p>
          The Tracker is based on self-reported information gathered yearly via the
          <a href="http://www.itu.int/en/ITU-D/Regulatory-Market/Pages/RegulatorySurvey.aspx" target="_blank">
            <u>ITU’s World Telecommunication Regulatory Survey</u>
          </a> and desktop research. For years when questions were left blank or when the survey was not answered by a country,
          the latest available data for the indicator is retrieved.
        </p>
      </div>
    </div>

    <!---->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h4><strong>Generations of regulation</strong></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p>To help analyze the evolution of ICT regulation worldwide, identify progress areas as well as gaps and measure those,
          the countries included in the Tracker are split into score thresholds that relate to generations of regulation,
          for any given year. </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <img class="img img-responsive" src="{{genOfRegGraph}}" />
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <ul class="list-unstyled">
          <li><strong> Regulatory Tracker <br>Score breakdown</strong></li>
          <li><strong>G1:</strong> ≥ 0
            < 40 </li>
              <li><strong>G2:</strong> ≥ 40
                < 70 </li>
                  <li><strong>G3:</strong> ≥ 70
                    < 85 </li>
                      <li><strong>G4:</strong> ≥ 85 ≤ 100 </li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <ul class="list-unstyled">
          <li> G1: Regulated public monopolies– command and control approach </li>
          <li>G2: Basic reform – partial liberalization and privatization across the layers</li>
          <li>G3: Enabling investment, innovation and access – dual focus on stimulating competition in service and content delivery,
            and consumer protection
            <li>
              <li>G4: Integrated regulation – led by economic and social policy goals </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p>Using the concept of generations of regulation, the Tracker can be used to showcase progress within the same country
          over time, compare between countries and regions or track the ICT regulatory trends in specific areas at the national,
          regional and global level.</p>
        <p>A world map showing the evolution of the generations of regulation is available here.
          <a [routerLink]="['/map']" [queryParams]="{ind: 'generation-of-regulations', year:'2015'}">
            <u>2015 Map</u>
          </a>
        </p>
        <p>The 1st edition of ITU ICT Regulatory Outlook Report 2017 provides in-depth analysis on the generations of regulation
          and their evolution. [link to publication will be available in January 2017]
        </p>
      </div>
    </div>

    <!---->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h4><strong>Detailed methodology</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p>The matrix with the detailed methodology of the ICT Regulatory Tracker can be downloaded here. It provides detailed
          information on the choice, composition and scoring of each indicator 
          <a href="ITU_ICT-Regulatory-Tracker_About_the_tracker_tab.pdf" target="_blank">
            <u>here.</u>
          </a>

        </p>
      </div>
    </div>
    <!---->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h4><strong>Feedback & contact</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p>If you are an ITU Member State Administration and you wish to provide recent or historic data for your country’s
          ICT regulation, please write to us. <a href="mailto:treg@itu.int?subject=Data for the ICT Regulatory Tracker">treg@itu.int</a>          </p>
        <p>If you would like to know more about the tracker or have queries or suggestions, please get back to us. <a href="mailto:treg@itu.int?subject=Query regarding the ICT Regulatory Tracker">treg@itu.int</a></p>
      </div>
    </div>

  </div>
</div>

</div>
<router-outlet></router-outlet>