<div class="container  background-color-F2F3F5">
    <div class="card-content" id="print-section">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 no-print">
                <div class="dropdown dropdown-custom pg-t40">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{selectedCountryName}} <span class="caret pull-right"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" [class.selected-country]="isSelected(country)" *ngFor="let country of countriesList"><a role="menuitem" tabindex="-1" (click)="onSelect(country)">{{country.properties.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 no-print">
                <share-buttons class="custom-buttons color-b33226"
            [shareTitle]="shareTitle"
            [defaultStyle]="false"
            [facebook]="fbInner"
            [twitter]="twitterInner"
            [linkedIn]="inInner"
            [reddit]="false"
            [stumbleUpOn]="false"
            [tumblr]="false"
            [google]="false"
            [pinterest]="false"
          ></share-buttons>
                <!--<div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
              <a>
              <span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x theme-color"></i>
											<i class="fa fa-facebook fa-stack-1x color-white"></i>
							</span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
               <a>
               <span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x theme-color"></i>
											<i class="fa fa-twitter fa-stack-1x color-white"></i>
							</span>
               </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
               <a>
              <span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x theme-color"></i>
											<i class="fa fa-linkedin fa-stack-1x color-white"></i>
							</span>
               </a>
            </div>
          </div>--></div>
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3 text-right no-print">
                <h4 class="theme-text-color color-b33226">Print:</h4>
                <a (click)="print()" class="cursor-pointer" title="Print Page"> <span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x theme-color"></i>
											<i class="fa fa-print fa-stack-1x color-white"></i>
							</span> </a>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm- text-right no-print">
                <h4 class="theme-text-color color-b33226">Save:</h4>
                <a (click)="download()" class="cursor-pointer" title="Save"> <span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x theme-color"></i>
											<i class="fa fa-save fa-stack-1x color-white"></i>
							</span> </a>
            </div>
        </div>
        <!---->
        <p class="margintop20"></p>
        <!---->
        <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 no-print"> <span class="img-thumbnail flag-icon flag-icon-{{selectedCountryFlagId}}" style="width: 100%; height: 100px;"></span> </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <p class="theme-text-color">Mobile-cellular telephone subscriptions per 100 inhabitants, 2015 <span class="fnt-wt-bld">: {{ countryCardDisplayData[2][0]?.mc_subs }}</span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <p class="theme-text-color">Fixed broadband subscriptions per 100 inhabitants, 2015 <span class="fnt-wt-bld">: {{ countryCardDisplayData[2][0]?.fb_subs }} </span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <p class="theme-text-color">GNI per capita (in USD) <span class="fnt-wt-bld">: {{ countryCardDisplayData[2][0]?.gni }} </span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <p class="theme-text-color">Region <span class="fnt-wt-bld">
                             : {{ countryCardDisplayData[0][0]?.regionName }}
                            </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <div id="map-container"> </div>
            </div>
        </div>
        <!---->
        <hr class="separator1">
        <!---->
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 margintop42">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <h4 class="theme-text-color fnt-wt-bld">Tracker 2015 Rank</h4>
                        <h2 class="text-center margintop0 paddingall theme-badgeb color-white">
                  {{ countryCardDisplayData[0][0]?.rank }}
                </h2> </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <h4 class="theme-text-color fnt-wt-bld">Tracker 2015 Score</h4>
                        <h2 class="text-center margintop0 paddingall bg-color-white theme-text-color">
                  {{ countryCardDisplayData[0][0]?.overall  | number : '1.2-2' }}
                </h2> </div>
                </div>
                <hr class="separator1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <h4 class="theme-text-color fnt-wt-bld">Tracker 2007 Rank</h4>
                        <h2 class="text-center margintop0 paddingall theme-badgel color-white">
                       {{ countryCardDisplayData[1][0]?.rank }}
                </h2> </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <h4 class="theme-text-color fnt-wt-bld">Tracker 2007 Score</h4>
                        <h2 class="text-center margintop0 paddingall bg-color-white theme-text-color">
                     {{ countryCardDisplayData[1][0]?.overall   | number : '1.2-2' }}
                </h2> </div>
                </div>
                <hr class="separator1"> </div>
            <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                <div id="spider-chart-container"> </div>
            </div>
        </div>
        <!---->
        <!---->
        <div class="row theme-text-color">
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 borderright2px ">
                <h5 class="fnt-wt-bld"> Cluster 1: REGULATORY AUTHORITY </h5>
                <p>Max Category Score: <strong> 20 </strong></p>
                <p>Country score 2015: <strong> {{ countryCardDisplayData[0][0]?.cluster1RA }} </strong> </p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 borderright2px">
                <h5 class="fnt-wt-bld "> Cluster 2: REGULATORY MANDATE </h5>
                <p>Max Category Score: <strong>22</strong></p>
                <p>Country score 2015: <strong> {{ countryCardDisplayData[0][0]?.cluster2RM }} </strong> </p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 borderright2px">
                <h5 class="fnt-wt-bld "> Cluster 3: REGULATORY REGIME </h5>
                <p>Max Category Score: <strong> 30 </strong></p>
                <p>Country score 2015: <strong> {{ countryCardDisplayData[0][0]?.cluster3RR }} </strong> </p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                <h5 class="fnt-wt-bld" style="white-space: nowrap;"> Cluster 4: COMPETITION FRAMEWORK </h5>
                <p>Max Category Score: <strong> 28 </strong></p>
                <p>Country score 2015: <strong> {{ countryCardDisplayData[0][0]?.cluster4CF }} </strong> </p>
            </div>
        </div>
        <!---->
        <hr class="separator1">
        <!---->
    </div>
</div>
<div id="links-container" class="margin-t-20 theme-sm-bg padding-15 margin-b-30">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <h4>
        <a href="ITU_ICT-Regulatory-Tracker_About_the_tracker_tab.pdf"
           target="_blank"
           class="theme-text-color">
           Methodology
        </a>
      </h4> </div>
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 text-center">
            <h4>
        <a href="http://www.itu.int/en/ITU-D/Regulatory-Market/Pages/default.aspx" target="_blank" class="theme-text-color">ICT policy &amp; regulatory information </a>
      </h4> </div>
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 text-right">
            <h4>
        <a href="http://www.itu.int/en/ITU-D/Statistics/Pages/default.aspx" target="_blank" class="theme-text-color">ICT Statistics</a>
      </h4> </div>
    </div>
</div>
<router-outlet></router-outlet>